<h1 class="bd-title">Login</h1>
<form method="post" action="/" class="col s6">
    <div class="form-group">
        <label for="name">Nickname</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <h5>Color</h5>
        <p>
            <label>
                <input name="color" type="radio" value="red" checked/>
                <span class="red-text">Red</span>
            </label>
        </p>
        <p>
            <label>
                <input name="color" type="radio" value="purple"/>
                <span class="purple-text">Purple</span>
            </label>
        </p>
        <p>
            <label>
                <input name="color" type="radio" value="indigo"/>
                <span class="indigo-text">Blue</span>
            </label>
        </p>
        <p>
            <label>
                <input name="color" type="radio" value="teal"/>
                <span class="teal-text">Green</span>
            </label>
        </p>
        <p>
            <label>
                <input name="color" type="radio" value="orange"/>
                <span class="orange-text">Orange</span>
            </label>
        </p>
        <p>
            <label>
                <input name="color" type="radio" value="blue-grey"/>
                <span class="blue-grey-text">Gray</span>
            </label>
        </p>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
</form>