<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
          $(function () {
              var socket = io();
              M.AutoInit();
              socket.on('toast', function(msg){
                  M.toast({
                      html: msg,
                      classes: 'rounded'
                  });
              });
          });
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="row">
          {{#if user.name}}
          <nav>
              <div class="nav-wrapper cyan darken-4 white-text">
                  <div class="col s12">
                      <a href="/" class="brand-logo">TicTacToe</a>
                  </div>
              </div>
          </nav>
          {{/if}}
          {{#if warning}}
            <div class="row">
                <div class="col s12">
                    <div class="card red lighten-4">
                        <div class="card-content">
                            {{warning}}
                        </div>
                        <div class="card-action">
                            <a href="/">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
          {{/if}}
          <div class="container">
            {{{body}}}
          </div>
          <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
      </div>
  </body>
</html>
