<h2>Overview</h2>
<a href="/rooms/new" class="waves-effect btn cyan darken-3 white-text">
    New Room
</a>
<div class="row" id="roomList">
</div>
<script src="/javascripts/overview.js"></script>
<script>
    updateRooms();
    const socket = io();
    socket.on('rooms changed', function(){
        updateRooms();
    });
</script>
